<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>


    
  <title>Ryan Dowler</title>
</head>
<body>
    <header class="cd-header" style="background-color:  #E0E0E0; border-bottom: 4px solid white;">
    <div id="cd-logo"><a href="/">Ryan Dowler</a></div>
    <nav class="cd-primary-nav" style="margin-top: -22px;">
      <ul>
        <!-- inser more links here -->
        <li><span><%= link_to "Download CV", root_url+'downloads/test1.pdf', { target: '_blank' } %></span></li>
        <li><a href="#0"><span>Contact Me</span></a></li> 
      </ul>
    </nav> <!-- cd-primary-nav -->
  </header>